.courseDetails_content{
    display: flex;
}

.Chech_button{
    background-color: lightblue;
}

.related_jobs_layout{
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    min-width: 100px;
    max-width: 20%;
    max-height: 100%;
    box-sizing: border-box;
    display: block;
}

.course_syllabus_content{
    background-color: #f7f9fa;
}