.technologies_content{
    // border-radius: 18px;
    padding: 10px 20px;
    min-width: 100px;
    font-family: monospace;
    background-color: white;
    max-width: 100%;
    border: none;
    font-size: 0.8rem;
    font-weight: 700;
    color: black;
    max-height: 100%;
    margin-top: 2%;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}

