.lessons{
    font-size: 13px;
    line-height: 25px;
    font-weight: 400;
    color: #434343;
    float: left;
    letter-spacing: 0.8px;
    
}

.students{
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    color: #434343;
    float: left;
    letter-spacing: 0.8px;
    padding-left: 26%;
}

.student{
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    color: #434343;
    float: left;
    letter-spacing: 0.8px;
    padding-left: 35%;
}

// .Courses_Card{
// position: relative;
// background-color: #fff;
// box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
// /* padding-bottom: 25px; */
// float: left;
// overflow: hidden;
// width: 100%;
// }

.Designation_content{
    margin: 0 auto;
    text-decoration: none !important;
    outline: none !important;
    font-size: 13px !important; 
    letter-spacing: 1px !important;
    font-weight: 600 !important;
    opacity: 0.5 !important;
}

